.container {
  max-width: 20rem;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
}

.container p,
.container span {
  text-align: center;
  color: rgb(37, 211, 115);
  font-weight: 700;
}

.container span {
  display: block;
  margin-top: 0.5rem;
}
.calculator {
  border-radius: 0.5rem;
  border: 1px solid #000;
  box-shadow: 0 0 40rem 0 rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  max-width: 14rem;
  overflow: hidden;
}

.calculator__display {
  background-color: #222222;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: right;
}

.calculator__keys {
  background-color: #999;
  display: grid;
  grid-gap: 0.1rem;
  grid-template-columns: repeat(4, 1fr);
}

.calculator__keys > * {
  background-color: #fff;
  padding: 1rem;
  position: relative;
  text-align: center;
}

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.key--operator {
  background-color: #e7e3e3;
}

.key--equal {
  background-image: linear-gradient(
    to bottom,
    rgb(37, 211, 115),
    rgb(30, 161, 89)
  );
  grid-column: -2;
  grid-row: 2 / span 4;
}
